<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Restaurant - Administration</title>
    <link rel="stylesheet" th:href="@{'css/style.build.tailwind.css'}">
    <link rel="stylesheet" href="css/style.build.tailwind.css">
    <link rel="stylesheet" href="css/index.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="../js/index.js"></script>
    <link rel="stylesheet" href="css/site.css">
</head>
<body class="bg-black text-white">
<div th:replace="header :: header">
</div>
<main>
    <section id="dish">
        <section class="object-cover relative w-full flex justify-center items-center gap-8" style="top: -64px"
                 id="cta-dish">
            <span class="backdrop"></span>
            <img class="object-cover cta-image w-full" src="images/dish.jpg"
                 alt="Menu call to action background">
            <div class="border-6 border-white absolute flex items-center justify-center bg-black-60 flex-col px-32 py-16">
                <h1 class="relative font-body text-8xl" style="top: -16px">Plats</h1>
            </div>
        </section>
        <section
                class="container max-w-7xl mb-8 px-6 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center"
                id="dish-recipes">
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 25.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 26.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 27.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 28.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 29.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 30.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 31.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 32.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
        </section>
    </section>

    <section id="starter">
        <section class="object-cover relative w-full flex justify-center items-center gap-8 my-20" id="cta-starter">
            <span class="backdrop"></span>
            <img class="object-cover cta-image w-full" src="images/starter.jpg"
                 alt="Menu call to action background">
            <div class="border-6 border-white absolute flex items-center justify-center bg-black-60 flex-col px-32 py-16">
                <h1 class="relative font-body text-8xl" style="top: -16px">Entrées</h1>
            </div>
        </section>
        <section
                class="container max-w-7xl mb-8 px-6 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center"
                id="starter-recipes">
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 25.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 26.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 27.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 28.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 29.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 30.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 31.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 32.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
        </section>
    </section>
    <section id="dessert">
        <section class="object-cover relative w-full flex justify-center items-center gap-8 my-20" id="cta-dessert">
            <span class="backdrop"></span>
            <img class="object-cover cta-image w-full" src="images/dessert.png"
                 alt="Menu call to action background">
            <div class="border-6 border-white absolute flex items-center justify-center bg-black-60 flex-col px-32 py-16">
                <h1 class="relative font-body text-8xl" style="top: -16px">Desserts</h1>
            </div>
        </section>
        <section
                class="container max-w-7xl mb-8 px-6 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center"
                id="dessert-recipes">
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 25.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 26.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 27.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 28.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 29.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 30.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 31.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
            <article class="max-w-xs w-full flex-col border-4 flex justify-center border-white">
                <div class="relative">
                    <span class="backdrop"></span>
                    <img class="w-full" src="images/image 32.png" alt="plat name">
                </div>
                <div class="flex-col flex my-6">
                    <h4 class="text-lg text-center">Мороженое Oreo</h4>
                    <h6 class="font-body text-4xl text-center">369.90</h6>
                </div>
            </article>
        </section>
    </section>
    <div th:fragment="footer">
    </div>
</main>
</body>
</html>
