<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Restaurant - Administration</title>
    <link rel="stylesheet" th:href="@{'css/style.build.tailwind.css'}">
    <link rel="stylesheet" href="../static/css/style.build.tailwind.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-black text-white">
<div th:replace="header :: header">
</div>
<main>
    <section class="object-cover relative w-full flex justify-center items-center gap-8" style="top: -64px" id="cta">
        <img class="object-cover cta-image w-full" src="../static/images/sushi.webp" alt="Menu call to action background">
        <div class="absolute flex items-center justify-center bg-black-60 flex-col px-32 py-16">
            <h1 class="font-body text-8xl">Меню</h1>
            <p class="text-center">У нас есть китайская еда, японская еда и корейская еда</p>
        </div>
    </section>
<!--    padding: 75px 130px;-->

    <section id="menus" class="flex flex-col items-center gap-y-24 mb-8">
        <article class="flex items-start justify-center gap-4 max-w-5xl w-full">
            <img class="object-contain" src="../static/images/menu-1.png" alt="menu_name">
            <div class="border-4 border-white p-10 w-full">
                <h2 class="font-body text-5xl mb-8">Китайская кухня</h2>
                <ol>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                </ol>
            </div>
        </article>
        <article class="flex items-start flex-row-reverse justify-center gap-4 max-w-5xl w-full">
            <img class="object-contain" src="../static/images/menu-2.png" alt="menu_name">
            <div class="border-4 border-white p-10 w-full">
                <h2 class="font-body text-5xl mb-8">Китайская кухня</h2>
                <ol>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                </ol>
            </div>
        </article>
        <article class="flex items-start justify-center gap-4 max-w-5xl w-full">
            <img class="object-contain" src="../static/images/menu-3.png" alt="menu_name">
            <div class="border-4 border-white p-10 w-full">
                <h2 class="font-body text-5xl mb-8">Китайская кухня</h2>
                <ol>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                    <li class="border-b mb-6">
                        <div class="flex justify-between items-center mb-4">
                            <h3 class="font-body text-3xl">Курица “Кунг пао”</h3>
                            <h3 class="font-body text-3xl">649.90</h3>
                        </div>

                        <p class="mb-0.5">Курица, сушеный перец чили и кешью</p>
                    </li>
                </ol>
            </div>
        </article>
    </section>
</main>
</body>
</html>
